body {
	font-family: "Open Sans", "Arial", "mono";
	color:#f7d53d;
	background-color: #193c3d;
	font-size: 16px;
	text-align: left;
}

h1 {
	margin: 2px 2px;
	font-size: 18px;
    padding: 2px 2px;
}

h2 {
	margin: 2px 2px;
	font-size: 12px;
    padding: 2px 2px;
}

/* Form Styles */

label {
	float: left;
    margin: 2px 2px;
	font-size: 18px;
    padding: 2px 2px;
}

/* normal button */
input[type="submit"] {
  background-color: #773172;
  border-radius: 4px;
  border: none;
  color:#f7d53d;
  margin: 2px 2px;
  padding: 16px 16px;
  font-size: 16px;
  width:100%
}
input[type="submit"]:hover {
  background-color: #a6449f;
  color: #fff;
}

/* Number input, Select box */
input[type="number"], select{
  background-color: #317577;
  border-radius: 4px;
  border: none;
  color:#f7d53d;
  box-sizing: border-box;
  margin: 2px 2px;
  padding: 10px 10px;
}  
input[type="text"], select{
  background-color: #317577;
  border-radius: 4px;
  border: none;
  color:#f7d53d;
  box-sizing: border-box;
  margin: 2px 2px;
  padding: 10px 10px;
  
}  
textarea {
	background-color: #317577;
  border-radius: 4px;
  border: none;
  color:#f7d53d;
  box-sizing: border-box;
  margin: 2px 2px;
  padding: 10px 10px;
}

.link_button {
	display:block;
  background-color: #773172;
  border-radius: 4px;
  border: none;
  color:#f7d53d;
  margin: 8px 2px;
  padding: 10px 10px;
  font-size: 16px;
  cursor: pointer;
  text-align: left;
  text-decoration: none;
  width:100%
}


.link_button:hover {
  background-color: #a6449f;
  color: #fff;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.annotations {
	font-size: 10px;
	  margin: 2px 2px;
}
